version: '3.8'

services:
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      REACT_APP_API_URL: http://server:3001
    networks:
      - app-network
    depends_on:
      - server

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
    networks:
      - app-network
    environment:
      PORT: 3001
      MONGO_USERNAME: admin
      MONGO_PASSWORD: csse3101
      MONGO_DATABASE: beauty
      MONGO_HOST: mongo
    depends_on:
      - mongo

  mongo:
    image: mongo:5.0
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: csse3101
      MONGO_INITDB_DATABASE: beauty
    ports:
      - "27017:27017"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
