/* AdminDashboard.css */

.dashboard-page {
  min-height: 100vh;
 background-color: #c59aff; 
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.dashboard-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  color: #feffff;
}

.dashboard-subtitle {
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 30px;
  color: #3b0548;
}

.dashboard-page .btn {
  width: 100%;
  padding: 15px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.dashboard-page .btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}
.dashboard-buttons .btn {
  background-color: #ffffff; 
  border-color: #8b5cf6;     
  color: #8b5cf6;            
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
}

.dashboard-button{
  background-color: #7c3aed; 
  transform: scale(1.05);   
}
