.first-container {
  background-image: url('../Images/bb.PNG'); 
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white; 
}

.title {
    font-family: 'Great Vibes', cursive; 
}

.button-container {
  display: flex;
  gap: 20px;
}

.button {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 30px; 
  background-color: rgba(255, 255, 255, 0.7); 
  color: black;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.9); 
}