

.category-content h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
  color: #343a40; /* Dark color */
}
.perfume-card {
  border: none; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: transform 0.2s; 
  max-width: 200px; 
  margin: 10px; /* أو قيمة تجريبية أقل */
}
.card-image {
  height: 200px; /* تقليل الارتفاع للصورة */
  object-fit: cover; /* Ensures image covers the space */
  border-top-left-radius: 8px; /* Rounded corners for image */
  border-top-right-radius: 8px;
}

.card-title {
  font-weight: bold; /* Bold title */
  color: hsl(282, 100%, 22%); /* Primary button color */
  font-size: 16px; /* تعديل حجم الخط */
}

.card-text {
  color: #6c757d; /* Secondary text color */
  font-size: 14px; /* تعديل حجم النص لتحسين المظهر */
}






.nav-link {
  color: white; /* لون النص باللون الأبيض لضمان وضوحه */
}

.nav-link:hover {
  text-decoration: underline; /* تأثير عند المرور بالفأرة */
}

.profile-container {
  position: relative; /* لتسهيل وضع القائمة المنسدلة */
}

/* إضافة إعدادات قائمة المنسدلة */

