.category-content h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
  color: #343a40;
}

.perfume-card {
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  max-width: 200px;
  margin: 10px;
}

.card-image {
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-title {
  font-weight: bold;
  color: hsl(282, 100%, 22%);
  font-size: 16px;
}

.card-text {
  color: #6c757d;
  font-size: 14px;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  text-decoration: underline;
}

.profile-container {
  position: relative;
}
